---
- name: Install Multimedia Codecs
  dnf:
    name: "@core,@multimedia,@sound-and-video,ffmpeg,ffmpeg-libs,libva,libva-utils,gstreamer-ffmpeg,gstreamer1-plugins-base,gstreamer1-plugins-good,gstreamer1-plugins-good-extras,gstreamer1-plugins-good-gtk,gstreamer1-plugins-bad-free,gstreamer1-plugins-bad-freeworld,gstreamer1-plugins-bad-free-extras,gstreamer1-plugins-bad-free-fluidsynth,gstreamer1-plugins-bad-free-wildmidi,gstreamer1-plugins-bad-free-zbar,gstreamer1-plugins-ugly,gstreamer1-libav,openh264,mozilla-openh264,gstreamer1-plugin-openh264,gstreamer1-libav,libva-nvidia-driver.i686,libva-nvidia-driver.x86_64,lame"
    state: latest
    exclude: zram-generator-defaults,PackageKit-gstreamer-plugin,gstreamer1-plugins-bad-free-devel,gstreamer1-plugins-bad-free-opencv,lame-devel
    install_weak_deps: no
    allowerasing: yes
  register: fed_installed_multimedia
  become: true
  become_method: sudo

- name: Show installed applications
  ansible.builtin.debug:
    var: fed_installed_multimedia.results|d()